/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */

body {
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}
.page-header {
    text-align: center;
    width: 100%;
    margin: auto;
}
nav {
    background-color: #0A1F4C;
    padding: .5em;
    width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
}
.page-title {
    font-size: 36px;
    text-transform: capitalize;
    margin-top: 1em;
}
section {
    text-align: center;
    margin-top: 2em;
}
h3 {
    font-size: 24px;    
}
.square-box {
    background-color: #99D8CA;
    text-align: center;
    padding: 1em;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
}
.square {
    background-color: #5873E2;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 4px solid black; 
}
.inner-square {
    background-color: #90FFA9;
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 10px;
}
.content {
    margin: 1em;
}
.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.circle1 {
    background-color: #99d8ca;
}
.circle2 {
    background-color: #0d1430;
}
.circle3 {
    background-color: #90FFA9;
}
.circle4 {
    background-color: #5873E2;
}
hr {
    border-top: 1px dashed #000;
    width: 90%;
    margin: 2em;
}
.container {
    width: 660px;
    border: 2px solid black;
    margin: auto;
    text-align: left;
    font-size: 0; /* For removing the blank Space */
}
.box {
    width: 200px;
    height: 180px;
    margin: 10px;
    background-color: #DAE0FA;
    display: inline-block;
}
.with-border {
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
}

/* BLOG PAGE STYLE */
img {
    width: 100%;
}
.image {
    display: inline-block;
    width: 40%;
}
.details {
   display: inline-block; 
   width: 40%; 
   text-align: start;
   margin-left: 10px;
}
h4 {
    font-size: 20px;
    color: #0A1F4C;
    font-weight: 900;
}
p {
    margin-bottom: 1em;
}
.details a {
    background-color: #4BBB3F;
    color: #fff;
    text-decoration: none;
    padding: .5em;
    border-radius: 20px;
}
.learn {
    text-align: start;
    margin-bottom: 1em;
}
.learn h4 {
    margin-top: .5em;
}
.learn a{
    color: #4BBB3F;
    background-color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
